a {
    color: white;
}

a:link {
    text-decoration: none;
}

#bbutton:hover {
    background-color: rgb(0,170,0);
}

#obutton:hover{
    background-color: rgb(0,0,255);
}

#overlay {
    display: block;
    z-index: 10;
    position: absolute;
    text-align: center;
    font-size: 28px;
    color: white;
    font-family: verdana, sans-serif;
    visibility: hidden;
    background-color:rgba(0, 0, 0, 0);
    width: 420px;
    border-radius: 0px;
    height: 447px;
    font-size: 14px;
    padding: 0px;
    margin-left: 854px;
}
#video {
    z-index: 9;
    position: absolute;
}

#left{
    padding:10px;
}
#right{
    padding:10px;
    padding-top:80px;
}
#bbutton{
    font-size: 24px;
    width: 80%;
    background: rgb(0,176,80);
    padding: 10px;
    padding-top: 18px;
    padding-bottom: 18px;
    border-radius: 10px;
    margin-bottom: 30px;

}
#obutton{
    width: 80%;
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    background: rgb(0,112,192);
    border-radius: 10px;    
    margin-top: 15px;
    margin-bottom: 15px;
}
#name{
    font-size: 24px;
    padding-top:10px;
    padding-bottom: 30px;
	color: black;
}
td{
    width: 50%;
    vertical-align: middle;
}
table{
    width: 100%;
    padding: 0px;
}