a {
    color: white;
}

a:link {
    text-decoration: none;
}

#bbutton:hover {
    background-color: rgb(0,170,0);
}

#obutton:hover{
    background-color: rgb(0,112,192);
}

#overlay {
    display: block;
    z-index: 10;
    position: absolute;
    text-align: center;
    font-size: 28px;
    color: white;
    font-family: verdana, sans-serif;
    background-color:rgba(0, 0, 0, 0.4);
    width: 420px;
    border-radius: 0px;
    height: 447px;
    visibility: hidden;
    font-size: 14px;
    padding: 0px;
}
#video {
    z-index: 9;
    position: absolute;
}

#left{
    padding:10px;
}
#right{
    padding:10px;
    padding-top:80px;
}
#bbutton{
    font-size: 24px;
    width: 80%;
    background: rgb(0,176,80);
    padding: 10px;
    padding-top: 18px;
    padding-bottom: 18px;
    border-radius: 10px;
    margin-bottom: 30px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}
#obutton{
    width: 80%;
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    background: rgb(0,133,229);
    border-radius: 10px;    
    margin-top: 15px;
    margin-bottom: 15px;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#name{
    font-size: 24px;
    padding-top:10px;
    padding-bottom: 30px;
}
td{
    width: 50%;
    vertical-align: middle;
}
table{
    width: 100%;
    padding: 0px;
}
video::-webkit-media-controls-fullscreen-button{
    display: none;
}
video::-internal-media-controls-download-button {
    display:none;
}

video::-webkit-media-controls-enclosure {
    overflow:hidden;
}

video::-webkit-media-controls-panel {
    width: calc(100% + 30px); /* Adjust as needed */
}